
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body style="text-align:center"> 
            
     <h1 style="margin-left: 25px;">Dashboard</h1>
     <input style="margin: 0px 0px 10px 1120px;" type="button" onclick="location.href='file:///home/mahesh.garkhwal/Desktop/Cust-Service/view/customer.html';" value="customer section" />     <br>
     <button style="margin-left: 1120px; " onclick="logout()">Logout</button>

    <div style="float:left;"; class="container-add">
    <h2 style="margin-left: 25px;">Add customer</h2>
    
    <label for="customer" style="margin: 25px 5px 25px 25px;"><b>first name</b></b></label>
    <input type="text" style="margin-bottom: 10px;" placeholder="Enter customer" name="customer" id="customer" required>
    <br>
    <label for="lastname" style="margin: 25px 5px 25px 25px;"><b>last name</b></label>
    <input type="text" style="margin-bottom: 10px;" placeholder="Enter first_name" name="first_name" id="first_name" required>
    <br>
    <label for="phone" style="margin: 25px 5px 25px 25px;"><b>phone</b></label>
    <input type="text" style="margin-bottom: 10px;" placeholder="Enter phone" name="phone" id="phone" required>
    <br>
    <label for="email" style="margin: 25px 5px 25px 25px;"><b>email</b></label>
    <input type="text" style="margin-bottom: 10px;" placeholder="Enter email" name="phone" id="phone" required>

    <button style="margin-bottom: 20px;"  onclick="addcustomer()">add customer</button>

    <h2 style="margin-left: 25px;">Delete customer</h2>
    <input type="customerId" style="margin-bottom: 10px;" placeholder="Enter customer Id" name="phone" id="customerId" required>
    <button onclick="deletecustomer()">Delete customer</button>

    </div>

     <div style="margin-left:300px; float:left;">
        <h2>Get customer</h2>
        <button onclick="getcustomer()">Get customers</button>
     </div>



    <div style="float: right; margin: 0px 10px 0px 0px;" class="container-update">
     <h2 style="margin-left: 25px;">Update customer</h2>

    <label for="customerId" style="margin: 25px 5px 25px 25px;"><b>customerId</b></b></label>
    <input type="text" style="margin-bottom: 10px;" placeholder="Enter customerId" name="customerId" id="customerId" required>
    <br>
     <label for="customer" style="margin: 25px 5px 25px 25px;"><b>first name</b></b></label>
     <input type="text" style="margin-bottom: 10px;" placeholder="Enter customer" name="customer" id="customer" required>
     <br>
     <label for="lastname" style="margin: 25px 5px 25px 25px;"><b>last name</b></label>
     <input type="text" style="margin-bottom: 10px;" placeholder="Enter first_name" name="first_name" id="first_name" required>
     <br>
     <label for="phone" style="margin: 25px 5px 25px 25px;"><b>phone</b></label>
     <input type="text" style="margin-bottom: 10px;" placeholder="Enter phone" name="phone" id="phone" required>
      <br>
      <label for="email" style="margin: 25px 5px 25px 25px;"><b>email</b></label>
      <input type="text" style="margin-bottom: 10px;" placeholder="Enter email" name="phone" id="phone" required>
  <br>
      <button style="margin-bottom: 20px;"  onclick="updatecustomer()">Update customer</button>
     <br>
    </div>
</body>
<script>
      function addcustomer(){
     var first_name=document.getElementById('customer').value
        var last_name=document.getElementById('first_name').value
        var phone=Number.parseInt(document.getElementById('phone').value)
        var obj={first_name, last_name,phone}
        console.log(getCookie("token"))
        const myHeaders = new Headers();
         myHeaders.append('Authorization', getCookie("token"));
        myHeaders.append('Content-Type', 'application/json');
        console.log(JSON.stringify(obj)) 
        fetch('http://localhost:3000/api/v1/add-customer', { method: 'POST', body: JSON.stringify(obj), headers: myHeaders}).then(
            response => response.json()
      ).then(json =>{
     console.log(json);
     if(json.result.ID)
         alert("customer added sucessful");
     else 
         alert("unable to add customer");
    })
}

function getcustomer(){
    
}

function updatecustomer(){
        var id=Number.parseInt(document.getElementById('ucustomerId').value)
        var first_name=document.getElementById('ucustomer').value
        var last_name=document.getElementById('ufirst_name').value
        var phone=Number.parseInt(document.getElementById('uphone').value)
        var obj={first_name, last_name,phone}
        console.log(getCookie("token"))
        const myHeaders = new Headers();
         myHeaders.append('Authorization', getCookie("token"));
        myHeaders.append('Content-Type', 'application/json');
        console.log(JSON.stringify(obj)) 
        fetch(`http://localhost:3000/api/v1/update-customer/${id}`, { method: 'PUT', body: JSON.stringify(obj), headers: myHeaders}).then(
            response => response.json()
      ).then(json =>{
     if(json.result.ID)
     alert("customer updated sucessfully");
     else
     alert("unable to update customer")
    })
}

function deletecustomer(){
        var did=Number.parseInt(document.getElementById('dcustomerId').value)
        console.log(getCookie("token"))
        const myHeaders = new Headers();
         myHeaders.append('Authorization', getCookie("token"));
        myHeaders.append('Content-Type', 'application/json');
        fetch(`http://localhost:3000/api/v1/delete-customer/${did}`, { method: 'DELETE', headers: myHeaders}).then(
            response => response.json()
      ).then(json =>{
     console.log(json)
     if(json.result.ID)
     alert("customer deleted sucessfully");
     else
     alert("customer does not exist")
    })
}

function getCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}
</script>
</html>